.DeleteAccount {
  width: 80%;
  margin: 0 auto;
}

.DeleteAccount-title {
  text-align: center;
  font-size: 1.8rem;
  margin-bottom: 1em;
}

.DeleteAccount-description {
  margin-bottom: 1.3em;
}

.DeleteAccountForm-input {
  margin-bottom: 1em;
}
