.FormModifyProfile {
  width: 80%;
  margin: 0 auto;
}

.FormModifyProfile-input {
  display: block;
  width: 100%;
  background-color: var(--first);
  padding: 0.6em 0.9em;
  border: none;
  border-radius: 0.5em;
  color: var(--sixth);
  margin-bottom: 1em;
  font-family: inherit;
  font-weight: inherit;
}

.FormModifyProfile-input::placeholder,
.FormModifyProfile-input:focus {
  color: var(--sixth);
}

.FormModifyProfile-Button {
  margin-bottom: 1em;
}

.FormModifyProfile-Button-delete {
  text-align: right;
  cursor: pointer;
}
