.Login {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.Login-title {
  text-align: center;
}

.LoginForm-input {
  margin-bottom: 1em;
}

.LoginForm-Button {
  margin-bottom: 1em;
}
