.Register {
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.Register-title {
  text-align: center;
}

.RegisterForm-input {
  margin-bottom: 1em;
}

.RegisterForm-Button {
  margin-bottom: 1em;
}
