.gameDetail__row {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5em;
  margin-bottom: 1.2em;
}

.gallery {
  list-style: none;
  padding-left: 0;
  display: grid;
  grid-template-columns: repeat(10, 80vw);
  grid-template-rows: 1fr;
  grid-column-gap: 1rem;
  grid-row-gap: 1rem;
  overflow: scroll;
  scroll-snap-type: both mandatory;
  scroll-padding: 1rem;
}

.gallery__item {
  scroll-snap-align: center;
  display: inline-block;
  border-radius: 3px;
  font-size: 0;
}

.gallery__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.btnIcon {
  background-color: transparent;
  color: var(--sixth);
  border: none;
  text-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  padding: 0;
  font-size: 1.8rem;
  transition: color 0.2s;
  font-weight: lighter;
}

.gameDetail__title {
  margin-bottom: 1.2em;
}

.gameDetail__title {
  text-align: center;
}

.platforms-title,
.genres-title {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 0.5em;
}

.platforms-list,
.genres-list {
  list-style: none;
  padding-left: 0;
  margin-bottom: 1.3em;
}

.platforms-list__item,
.genres-list__item {
  display: inline;
}

.platforms-list__item::before,
.genres-list__item::before {
  content: ', ';
}

.platforms-list__item:first-child::before,
.genres-list__item:first-child::before {
  content: '';
}
